<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/logo.png">
    <title>mcKismetLab API v<%= version %>
    </title>
</head>

<body>
    <div>
        <h1>mcKismetLab API Service v<%= version %>
        </h1>
    </div>
</body>

</html>
